@use '../Header/Header.scss';
@use '../../theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$cart-wrapper-height: 17px;

.cartWrapper{
    max-height: $cart-wrapper-height;
    height: fit-content;
    // display: flex;
    // align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.cartIcon1Wrapper{
  max-height: $cart-wrapper-height;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cartIcon1Wrapper>svg{
  z-index: 99999;
}

.cartIcon1Wrapper>:hover{
  cursor: pointer;
}

.cartItemNumber{
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  z-index: 999999;
  left: 70%;
  transform: translatey(-40%);

}

$cartMenuWidth: 325px;
.cartMenu {
  background-color: #ffffff;
  max-height: calc(100vh - Header.$header-height);
  overflow-y: auto;
  min-height: 30px;
  width: $cartMenuWidth;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cartMenuElementsWrapper{
  width: calc($cartMenuWidth - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.cartMenuElementsWrapper>*{
  margin-top: 32px;
}
.cartMenuElementsWrapper>:last-child{
  margin-bottom: 32px;
}

.cartDropdown{
  margin-top: calc(Header.$header-height / 2 - $cart-wrapper-height / 2 );
  left: 100%;
  z-index: 9999;
  transform: translateX(-100%);
}

.cartDirtyWindow{
  position: absolute;
  margin-top: calc(Header.$header-height);
  // margin-left: calc((100vw - theme.$global-width) / 2);
  height: calc(100vh - Header.$header-height);
  width: 100%;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
}
///TITLE
.cartMenuTitle{
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.cartMenuTitle>*{
  margin: 0;
  padding: 0;
}

.cartMenuTitleBoldPart{
  font-family: theme.$main-font-semiBold;
}
///PRODUCTS
.cartMenuProductsWrapper{
  max-height: calc(100vh - (Header.$header-height + 81px + 160px));
  overflow-y: auto;
  overflow-x: hidden;
}
.cartMenuProductsWrapper>*{
  margin-bottom: 40px;
}
.cartMenuProductsWrapper>:last-child{
  margin-bottom: 0;
}

///TOTAL PRICE
.totalCartMenuPriceWrapper>*{
  margin: 0;
  padding: 0;
}

.totalCartMenuPriceWrapper{
  display: flex;
  justify-content: space-between;
  font-family: theme.$main-font-semiBold;
}

///BUTTONS
.cartMenuButtonsWrapper1{
  display: flex;
  justify-content: space-between;
}

.cartMenuButtonsWrapper1>button{
  font-family: theme.$main-font-semiBold;
  font-size: 14px;
  width: 140px;
  height: 43px;
}

.cartMenuButtonsWrapper1>button:hover{
  cursor: pointer;
}
button.cMviewBagButton{
  background-color: #ffffff;
  border: 0;
  border: 1px solid black;
}
button.cMcheckOutButton{
  border: 0;
  background-color: theme.$primary-color;
  color: white;
}

///PICTURE
.CMPpicture{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aqua;
}

.CMPpicture>img{
  max-width: 121px;
}