@use '../../../../src/theme';

.addToCart{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: absolute;
    background-color: #5ECE7B;
    transform: translateY(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 287px;
}

.addToCart.active{
    display: flex;
}

.addToCart:hover{
    cursor: pointer;
    color: #54b86e;
}

.productItemWrapper{

    height: 444px;
    width: 386px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(100% / 3);
    // border: 1px solid black;
}
.SCproductCard{
    height: 444px;
    width: 386px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SCproductCard:hover{
    box-shadow: 0px 1px 32px 0px rgba(0, 0, 0, 0.05);
}

.outOfStockProduct{
    position: absolute;
    width: 354px;
    height: 412px;
    // background-color: rgba(94, 91, 91, 0.486);
}

$showcasePicture-height: 330px;
.outOfStockPicture{
    width: 100%;
    height: $showcasePicture-height;
    background-color: #eff0f767;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.outOfStockText{
    font-size: 24px;
    color: #8D8F9A;
}
$productItetm-height: 412px;
.productItetm{
    width: 354px;
    height: $productItetm-height;
    // background-color: rgb(54, 91, 124);
}

.showcasePicture{
    width: 100%;
    height: $showcasePicture-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.showcasePicture:hover{
    cursor: pointer;
}
.showcasePicture>img{
    max-width: 354px;
    height: 330px;
}

.showcaseName.outOfStock{
    color: #8D8F9A;
}
.SPpriceAndName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc($productItetm-height - $showcasePicture-height);
}
.showcaseName{
    margin-top: 25px;
}
.showcasePrice{
    font-family: theme.$main-font-medium;
    margin-top: 10px;
}

.showcasePrice.outOfStock{
    color: #8D8F9A;
}