@use '../../../src/theme';
@use '../../components/Header/Header.scss';

.showcaseWrapper {
    display: flex;
    justify-content: space-around;
    // margin-left: calc((100vw - theme.$global-width)/2);
    // margin-right: calc((100vw - theme.$global-width)/2);
}

.sjowcaseElementsWrapper{
    width: theme.$global-width;
}

.categoryName{
    width: fit-content;
    font-size: 42px;
    margin-top: calc(Header.$header-height + 42px);
    margin-bottom: 42px;
}

.produtsWrapper{
    // width: theme.$global-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}