@use '../../../src/theme';
@use '../../components/Header/Header.scss';

.showcaseWrapper {
    display: flex;
    justify-content: space-around;
    // margin-left: calc((100vw - theme.$global-width)/2);
    // margin-right: calc((100vw - theme.$global-width)/2);
}

.sjowcaseElementsWrapper{
    
    width: theme.$global-width;
}

.categoryName{
    width: fit-content;
    font-size: 42px;
    margin-top: calc(Header.$header-height + 42px);
    margin-bottom: 42px;
}

.produtsWrapper{
    
    // width: theme.$global-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    
}
.productIetemWrapper{
    height: 444px;
    flex-basis: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
    

}

.outOfStockProduct{
    position: absolute;
    width: 384px;
    height: 412px;
    // background-color: rgba(94, 91, 91, 0.486);
}

.outOfStockPicture{
    width: 100%;
    height: 330px;
    background-color: #eff0f767;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.outOfStockText{
    font-size: 24px;
    color: #8D8F9A;
}

.productItetm{
    width: 384px;
    height: 412px;
    // background-color: rgb(54, 91, 124);
}



.showcasePicture{
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcasePicture:hover{
    cursor: pointer;
}
.showcasePicture>img{
    max-width: 354px;
    height: 330px;
}

.addToCart{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: absolute;
    background-color: #5ECE7B;
    transform: translateY(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: calc(354px - (52px - 15px));
}
.addToCart.active{
    display: flex;
}
.addToCart:hover{
    cursor: pointer;
    color: #54b86e;
}

.showcaseName.outOfStock{
    color: #8D8F9A;
}

.showcasePrice{
    font-family: theme.$main-font-medium;
}

.showcasePrice.outOfStock{
    color: #8D8F9A;
}