@use '../../../src/theme';
@use '../../components/Header/Header.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.productPageWrapper {
    display: flex;
    justify-content: space-around;
}
.productPageElementsWrapper {
    width: theme.$global-width;
    margin-top: calc(Header.$header-height + 42px);
    display: flex;
    flex-direction: row;
}


.MainPicture{
    width: 610px;
    height: 511px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainPicture>img{

    max-height: 100%;
    max-width: 100%;
}

.productDetails{
    width: 292px;
    min-height: 100%;
    margin-left: 90px;
}
.productName>h1{
    display: flex;
    flex-direction: column;
}
.productDetails>.productName>*{
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.productNameBrand{
    font-family: theme.$main-font-semiBold;
    margin-bottom: 10px;
}

$margin: 20px;

.productPrice>*{
    font-size: 18px;
    margin: 0;
    font-family: theme.$main-font-semiBold;
}

.productPrice>.priceWord{
    margin-top: $margin;
    margin-bottom: $margin;
}

.productPrice>.priceValue{
    
    font-size: 24px;
}

.addToCartPPtButton{
    margin-top: $margin;
    margin-bottom: $margin;
}

.addToCartPPtButton>:hover{
    cursor: pointer;
}

.addToCartPPtButton>button{
    background-color: theme.$primary-color;
    border: 0;
    width: 100%;
    height: 52px;
    color: #ffffff;
    font-size: 16px;
}

//ATTRIBUTES
.productAttribute>p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.attributeName{
    margin-bottom: 10px;
    margin-top: 15px;
}
.attributeItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.attributeItems>*:hover{
    cursor: pointer;
}

//STANDART STYLE
.attributeDisplayValue{
    display: none;
}
.productAttribute>.attributeItems>.attributeItem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 61px;
    height: 43px;
    background-color: #ffffff;
    border: 1px solid black;
    margin-right: 12px;
    margin-bottom: 12px;
}
.productAttribute>.attributeItems>:last-child{
    margin-right: 0;
}

.productAttribute>.attributeItems>.attributeItem.selected{
    background-color: black;
    color: #ffffff;
}

//SIZE
.productAttribute.Size>.attributeItems>.attributeItem>.attributeValue{
    display: block;
}
.productAttribute.Size>.attributeItems>.attributeItem>.attributeDisplayValue{
    display: none;
}

// COLOR
.productAttribute.Color>.attributeItems>.attributeItem{
    border: 0;
    height: auto;
    width: auto;
}
.productAttribute.Color>.attributeItems>.attributeItem.selected{
    background-color: #ffffff;
}
.productAttribute.Color>.attributeItems>.attributeItem>.attributeValue{
    display: none;
}
.productAttribute.Color>.attributeItems>.attributeItem{
    margin-right: 7px;

}
.productAttribute.Color>.attributeItems>.attributeItem.selected{
    border: 1px solid theme.$primary-color;
    padding: 1px;
}
.productAttribute.Color>.attributeItems>.attributeItem>.colorAttribute{
    height: 32px;
    width: 32px;

}

.productDesctiprion{
    line-height: 160%;
}