@use '../../theme.scss';

// .currencyUnitWrapper{
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
// }
.currencySelectorAndCart{
  display: flex;
  // flex-direction: row;
  align-items: center;
  height: 17px;
}

.dropdownCurrencies{
  margin-top: 8px;
  left: 50%;
  transform: translateX(calc(-50% + 10px));

}

.currencyLogoAndArrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.currentCurrency{
  font-family: theme.$main-font-medium;
  font-size: 18px;
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.currentCurrency:hover{
  cursor: pointer;
}

.arrow{
  margin-left: 10px;
}

//prevent text selection on currency buttons
.currencySelector>*{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dropdownCurrencies{
  box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}



.rotateArrow {
  transform: rotate(180deg);
}
